/* GERAIS */


html, body{ overflow-x: hidden; }

.body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #E5E5E5;
}

@font-face {
  font-family:"SF Pro Display Bold";
  src:url("./fonts/SF-Pro-Display-Bold.OTF") format("opentype");
}

@font-face{
  font-family:"SF Pro Display Medium";
  src:url("./fonts/SF-Pro-Display-Medium.OTF") format("opentype");
}

@font-face{
  font-family:"SF Pro Display";
  src:url("./fonts/SF-Pro-Display-Regular.OTF") format("opentype");
}

h1,h2,h3,a,.btn{
  font-family:'SF Pro Display Bold' Arial, Helvetica, sans-serif;
}

p,input,select{
  font-family:'SF Pro Display', Arial, Helvetica, sans-serif;
}

h2{
  font-size: 2.3rem;
}

h6{
  font-size: 1.2rem;
}


/* HEADER */


h1 {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}
.subtitle {
  padding-bottom: 50px;
  font-size: 20px;
  text-align: center;
}


/* CARD */


.card {
  background-color: rgb(255, 255, 255);
  color: Black; 
  padding: 20px;
  border-radius: 20px !important;
}
.card-title {
  color: #7553E2;
  padding-left: 20px;
  margin-top: 20px;
}
.card-2 .card-title{
  margin-top: -20px
}
.card-subtitle {
  width: 1000px;
  padding-left: 20px;
  padding-top: 10px;
}
.Seu-plano{
  color: #8B90A0;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 1rem 0;
}

.description {
  color: #5e5e5e;
  padding-left: 20px;
  font-size: 15px;
}


/* LISTA */


ul{
  min-height: 440px;
}

ul li{
  list-style-image: url('./assets/main/puple.png');
  padding-top: 20px;
}
.img-ul-2{
  list-style-image: url( './assets/main/botao-x.png');
  color: #5e5e5e;
}
.ul-card-black .img-ul-black-2{
  list-style-image: url( './assets/main/botao-x.png');
  color: #5e5e5e;
}
.ul-card-black li{
  list-style-image: url('./assets/main/purple.png');
  padding-top: 20px;
}
.tootip{
  width: 15px;
  opacity : 0.5; 
}


/* BOTÕES */


.button{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
button {
  border-style: solid;
  border-color: #7553E2;
  border-radius: 13px !important;
  padding: 15px 50px;
  background-color: #ffffff;
  color: #7553E2 ;
}
.button :hover{
  background-color: #7553E2;
  color: #fcfcfc;
  border-radius: 13px;
  transition: 0.1s;
}
.button-top button{
  background-color: #7553E2;
  color: #ffffff;
  border-radius: 100px !important;
  align-items: center;
  border: none;
  padding: 10px;
  padding-right: 20px;
  position: relative;
  bottom: 40px;
  left: 10px;
}

/* FOOTER */


.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {

  h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 60px;
  }
  .subtitle{
    text-align: center;
    margin-top: 20px;
  }
  .card{
    width: 330px !important;
    margin-bottom: 50px;
  }

}

