
.body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #E5E5E5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.title {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.subtitle {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-white {
  background-color: rgb(255, 255, 255);
  color: Black;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20px;
}

.card-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20px;
}

.card-title {
  color: #7553E2;
  padding-left: 20px;
}

.card-subtitle {
  width: 1000px;
  padding-left: 20px;
}

.description {
  color: #5e5e5e;
  padding-left: 20px;
}

.card-body{
  height: 500px;
}


ul li{
  list-style-image: url('/assets/main/img\ list.svg');
  padding-top: 20px;
}

.ul-card-black li{
  list-style-image: url('/assets/main/img\ list\ black.svg');
  padding-top: 20px;
}


.button{
  display: flex;
  justify-content: center;
}

.button-1{
  margin-top: 100px;
}

.button-2{
  margin-top: 50px;
}



.button button {
  background-color: #7553E2;
  margin-top: 50px;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.button-top button{
  background-color: #7553E2;
  color: #e2e2e2;
  border-radius: 20px;
  border: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -115px;
  margin-left: 10px;
}


.button :hover{
  background-color: #ffffff !important;
  background-color: #7553E2;
  margin-top: 50px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #7553E2 !important;
  transition: 0.1s;
}

a{
  text-decoration: none !important;
  color: #e0e0e0 !important
}

.img-footer{
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 7000px) {
  body {
      overflow-x: hidden !important;
  }

  .title {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .subtitle{
    text-align: center;
    margin-top: 20px;
  }

  .card-white{
    width: 300px !important;
    display: flex;
    flex-wrap: wrap;
  }

  .card-black{
    width: 300px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }


}

